*.iml
.gradle
.idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
.kotlin/
/captures
.externalNativeBuild
.cxx
local.properties
flowlog_activities.csv
app/google-services.json
.firebaserc

# Keystore
*.keystore
*.jks
release.keystore
keystore.properties
